body {
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
h1 {
    text-align: center;
}

ul {
    list-style: none;
}

p {
    margin: 5px;
    /* max-width: 300px; */
    flex: 1; /* Permite que los párrafos ocupen el espacio disponible */
}

hr {
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
   flex-wrap: wrap;
    width: 100%;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex-wrap: wrap;
    text-align: center;
}

.products:hover {
    background-color: white;
    border: 2px solids white;
    color: black; 
}

.delete {
    background-color: red;
    padding: 10px;
    color: white;
    width: 300px;
}
.success {
    background-color: #1eb825;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid white;
    transition: background-color 0.3s, color 0.3s; 
    width: 200px;
}    

.success:hover {
    background-color: #0a7e10;  
    color: white;
}

.form {
    flex-direction: column;
    text-align: center;
    align-items: center;
}

 input {
    width: 300px;
    padding: 7px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
} 

.btn {
    color: white;
    background-color: #28a745;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    padding: 7px;
    transition: 1s;
    margin-top: 7px;
}

.btn:hover{
    background-color: #218838;
}
/* .linea {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 10px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255)
} */


/* chat */

.containerChat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputChat {
    width: 98%;
}

.textareaChat {
    background-color: white;
    color: black;
}

.btnChat {
    background-color: #00bcd4;
    color: rgb(255, 255, 255);
    margin: 5px;
    width: 316px;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s; /* Transición suave */
}

.btnChat:hover {
    /* background-color: lightgray; */
    background-color: #0097a7;
}
/*login*/

.btnGit{
    background-color: #00bcd4;
    color: rgb(255, 255, 255);
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s; /* Transición suave */
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    width: 70%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.logout {
    background-color: #00bcd4;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid white;
    transition: background-color 0.3s, color 0.3s; 
    width: 200px;
}    

.logout:hover {
    background-color: #0097a7;
    color: white;
}

.box-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: dimgrey;
}



.containerFaker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Alinea las tarjetas al principio verticalmente */
}
.productsFaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    text-align: center;
    max-width: 400px;
    min-height: 300px; /* Ajusta la altura mínima según tus necesidades */
    flex-grow: 1; /* Permite que las tarjetas crezcan uniformemente */
}

.imgFaker{
    width: 250px;
}

.error-message {
    color: red;
    font-size: 14px;
    display: none;
}