<div class="box">
    <h1>Correo Enviado</h1>
    <p>Se ha enviado un correo electrónico con instrucciones para restablecer tu contraseña.</p>
    <a href="/login">
        <button class="btnChat">Volver al Inicio Sesion</button>
    </a>
</div>