<div>
    <h1>LOGIN</h1>

    <hr>

    <form class="box" method="post" action="/api/sessions/login">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <button class="btnChat" type="submit">Login</button>
    </form>
    <span class="box">
        <a href="/api/gitHub">
            <button class="btnChat">Entrar Con GitHub</button>
        </a>
    </span>
  
    <span class="box">
        <a href="/register">
            <button class="btnChat">Register</button>
        </a>
    </span>

    <p class="box">Olvidate tu contraseña?</p>
    <a class="box" href="/recover-password">
        click aqui
    </a>
</div>

{{#if failLogin}}
<script>
    alert('Login Failed!')
</script>
{{/if}}