
<div>
  <form class="box" method="POST" action="/api/users/recover-password" >
    <br>
    <label for="email">Ingrese su correo electrónico</label>
    <br>
    <input type="email" name="email" id="email" required>
    <br>
    <button class="btnChat" type="submit">Enviar</button> 
  </form>
</div>
