<!-- views/reset-password.handlebars -->
<div>
    <form class="box" method="POST" action="/api/users/reset-password">
        <input type="hidden" name="token" value="{{token}}">
        <label for="newPassword">Ingrese su nueva contraseña</label>
        <input type="password" name="newPassword" id="newPassword" required>
        <button class="btnChat" type="submit">Restablecer Contraseña</button> 
    </form>
</div>
